<mat-card>
    <mat-card-header>
        <mat-card-title>Update Display Name</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input #displayName0 matInput type="text" placeholder="Display Name" [(ngModel)]="displayName" required>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent" (click)="saveDisplayName(displayName0.value)">
            <mat-icon>save</mat-icon>
            <span>Save</span>
        </button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar [mode]="isBusy ? 'indeterminate' : 'determinate'"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Update Email</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input #password0 matInput type="password" placeholder="Password" required minlength="6" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input #email0 matInput type="email" placeholder="Email" [(ngModel)]="email" required>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent" (click)="saveEmail(email0.value, password0.value)">
            <mat-icon>save</mat-icon>
            <span>Save</span>
        </button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar [mode]="isBusy ? 'indeterminate' : 'determinate'"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" #oldPassword required minlength="6"
                autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="New Password" #newPassword required minlength="6"
                autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="New Password" #newPasswordRepeat required minlength="6"
                autocomplete="off">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent"
            (click)="savePassword(oldPassword.value, newPassword.value, newPasswordRepeat.value)">
            <mat-icon>save</mat-icon>
            <span>Save</span>
        </button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar [mode]="isBusy ? 'indeterminate' : 'determinate'"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Download My Data</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent" (click)="downloadMyData()">
            <mat-icon>download</mat-icon>
            <span>Download</span>
        </button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar [mode]="isBusy ? 'indeterminate' : 'determinate'"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Delete My Data</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input #password matInput type="password" placeholder="Password" required minlength="6" autocomplete="off">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="warn" (click)="deleteMyData(password.value)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar [mode]="isBusy ? 'indeterminate' : 'determinate'"></mat-progress-bar>
    </mat-card-footer>
</mat-card>