<mat-toolbar color="primary">
  <mat-icon style="margin-right: 10px;">payments</mat-icon>
  <span>Investor Wealth Tracker</span>
  <span class="spacer"></span>
  <nav>
    <button mat-flat-button color="primary" routerLink="/" routerLinkActive="active"
      ariaCurrentWhenActive="page">Dashboard</button>
    <button mat-flat-button color="primary" routerLink="/entries" routerLinkActive="active"
      ariaCurrentWhenActive="page">Entries</button>
    <button mat-flat-button color="primary" routerLink="/about" routerLinkActive="active"
      ariaCurrentWhenActive="page">About</button>
    <button mat-mini-fab [matMenuTriggerFor]="menu"
      [matTooltip]="getDisplayName() ?? ''">{{getUserLetter()}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="!authenticationService.getCurrentUser()" routerLink="/login">Login</button>
      <button mat-menu-item *ngIf="!authenticationService.getCurrentUser()" routerLink="/register">Register</button>
      <button mat-menu-item *ngIf="authenticationService.getCurrentUser()" routerLink="/edit">Edit Profile</button>
      <button mat-menu-item *ngIf="authenticationService.getCurrentUser()" (click)="logout()">Logout</button>
    </mat-menu>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>