<mat-card>
    <mat-card-header>
        <mat-card-title>Entries</mat-card-title>
        <mat-card-subtitle>Count: {{entries?.length ?? 0}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let entry of entries">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{entry.date}}</mat-panel-title>
                    <mat-panel-description>Total Net Worth:
                        {{entriesService.getTotalNetWorth(entry) | currency}}</mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" [ngModel]="entry.date"
                        (dateChange)="onDateChange($event, entry)">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button mat-button (click)="copyAndAddEntry(entry)">
                    <mat-icon>add</mat-icon>
                    <span>Copy & Add Entry</span>
                </button>
                <button mat-button color="warn" (click)="removeEntry(entry)">
                    <mat-icon>delete</mat-icon>
                    <span>Remove Entry</span>
                </button>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Assets</mat-panel-title>
                        <mat-panel-description>Total:
                            {{entriesService.getTotalAssets(entry) | currency}}</mat-panel-description>
                    </mat-expansion-panel-header>
                    <div *ngFor="let asset of entry.assets">
                        <mat-form-field>
                            <mat-label>Type</mat-label>
                            <mat-select [(ngModel)]="asset.type">
                                <mat-option *ngFor="let kv of assetTypes" [value]="kv[1]">{{kv[1] |
                                    camelCaseToSpaces}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput type="text" [(ngModel)]="asset.name">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Value</mat-label>
                            <input matInput type="number" [(ngModel)]="asset.value">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Currency</mat-label>
                            <input type="text" placeholder="Pick one" matInput [matAutocomplete]="auto"
                                [(ngModel)]="asset.currencyCode" (input)="filter($event, entry)"
                                (focus)="filter($event, entry)">
                            <mat-autocomplete requireSelection #auto="matAutocomplete">
                                <mat-option *ngFor="let currency of filteredCurrencies" [value]="currency.code"
                                    [matTooltip]="currency.name">
                                    {{currency}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <button mat-button color="warn" (click)="removeAsset(entry, asset)">
                            <mat-icon>delete</mat-icon>
                            <span>Remove Asset</span>
                        </button>
                    </div>
                    <button mat-button (click)="addAsset(entry)">
                        <mat-icon>add</mat-icon>
                        <span>Add Asset</span>
                    </button>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Debts</mat-panel-title>
                        <mat-panel-description>Total:
                            {{entriesService.getTotalDebts(entry) | currency}}</mat-panel-description>
                    </mat-expansion-panel-header>
                    <div *ngFor="let debt of entry.debts">
                        <mat-form-field>
                            <mat-label>Type</mat-label>
                            <mat-select [(ngModel)]="debt.type">
                                <mat-option *ngFor="let kv of debtTypes" [value]="kv[1]">{{kv[1] |
                                    camelCaseToSpaces}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput type="text" [(ngModel)]="debt.name">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Value</mat-label>
                            <input matInput type="number" [(ngModel)]="debt.value">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Currency</mat-label>
                            <input type="text" placeholder="Pick one" matInput [matAutocomplete]="auto"
                                [(ngModel)]="debt.currencyCode" (input)="filter($event, entry)"
                                (focus)="filter($event, entry)">
                            <mat-autocomplete requireSelection #auto="matAutocomplete">
                                <mat-option *ngFor="let currency of filteredCurrencies" [value]="currency.code"
                                    [matTooltip]="currency.name">
                                    {{currency}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <button mat-button color="warn" (click)="removeDebt(entry, debt)">
                            <mat-icon>delete</mat-icon>
                            <span>Remove Debt</span>
                        </button>
                    </div>
                    <button mat-button (click)="addDebt(entry)">
                        <mat-icon>add</mat-icon>
                        <span>Add Debt</span>
                    </button>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Rates</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngFor="let rate of entry.rates">
                        <label>{{rate.currencyCode}}</label>
                        <mat-form-field>
                            <mat-label>Value</mat-label>
                            <input matInput type="number" [(ngModel)]="rate.value" min="0" step="0.001">
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </mat-expansion-panel>
            <button mat-button (click)="addEntry()">
                <mat-icon>add</mat-icon>
                <span>Add Entry</span>
            </button>
        </mat-accordion>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="accent" (click)="save()">
            <mat-icon>save</mat-icon>
            <span>Save</span>
        </button>
        <button mat-button color="warn" (click)="cancel()">
            <mat-icon>cancel</mat-icon>
            <span>Cancel</span>
        </button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar [mode]="isBusy ? 'indeterminate' : 'determinate'"></mat-progress-bar>
    </mat-card-footer>
</mat-card>