<mat-card>
  <mat-card-header class="entries-header">
    <div>
      <mat-card-title>Entries</mat-card-title>
      <mat-card-subtitle>Count: {{(entries$ | async)?.length ?? 0}}</mat-card-subtitle>
    </div>
    <button mat-button (click)="addEntry()" type="button">
      <mat-icon>add</mat-icon>
      <span>Add</span>
    </button>
    <button mat-button (click)="copyAndAddEntry()" type="button" [disabled]="!selectedEntry">
      <mat-icon>add</mat-icon>
      <span>Copy & Add</span>
    </button>
    <button mat-button (click)="editEntry()" type="button" [disabled]="!selectedEntry">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-button color="warn" (click)="removeEntry()" type="button" [disabled]="!selectedEntry">
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </mat-card-header>
  <mat-card-content>
    <ag-grid-angular [rowData]="entries$ | async" [columnDefs]="colDefs" [theme]="theme" [rowSelection]="rowSelection"
      (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)" />
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar [mode]="(isBusy$ | async) ? 'indeterminate' : 'determinate'"></mat-progress-bar>
  </mat-card-footer>
</mat-card>