mat-card {
    width: 400px;
    margin: 10px;
}

mat-form-field {
    display: block;
    width: 100%;
}

@media screen and (max-width: 600px) {
    mat-card {
        width: calc(100% - 20px);
        margin: 10px;
    }
}