export const environment = {
    firebaseConfig: {
        apiKey: "<YOUR API KEY>",
        authDomain: "<YOUR AUTH DOMAIN>",
        databaseURL: "<YOUR DATABASE URL>",
        projectId: "<YOUR PROJECT ID>",
        storageBucket: "<YOUR STORAGE BUCKET>",
        messagingSenderId: "<YOUR ID>",
        appId: "<YOUR APP ID>",
        measurementId: "<YOUR MEASUREMENT ID>",
        locationId: "<YOUR LOCATION ID>"
    },
    openExchangeRatesConfig: {
        appId: "<YOUR APP ID>"
    }
};