<mat-card class="d-block w-25 mt-3 ml-3">
    <mat-card-header>
        <mat-card-title>Verify Email</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Please click below button to verify the email. {{this.authenticationService.getCurrentUser()?.email}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="verify()">Verify</button>
        <button mat-button color="warn" (click)="cancel()">Cancel</button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar [mode]="isBusy ? 'indeterminate' : 'determinate'"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
